li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
}

li label {
    float: left;
    cursor: pointer;
}

li button {
    float: right;
    margin-top: 3px;
}

li:before {
    content: initial;
}

li:last-child {
    border-bottom: none;
}

#div_file_wrap {
    display: flex;
    justify-content: flex-start;
}

#div_file_id {
    text-align: left;
    width: 100px;
}

#div_file_revid {
    width: 200px;
    text-align: left;
}

#div_file_origin {
    text-align: left;
    width: 500px;
}

#div_file_target {
    text-align: left;
    width: 500px;
}

